In [ ]:
# Lab | Data cleaning and wrangling
# For this lab, we will be using the same dataset we used in the previous labs. 
# We recommend using the same notebook since you will be reusing the same variables you previous created and used in labs.

#Instructions
#So far we have worked on EDA. This lab will focus on data cleaning and wrangling from everything we noticed before.

#1. We will start with removing outliers. So far, we have discussed different methods to remove outliers. 
# Use the one you feel more comfortable with, define a function for that. 
# Use the function to remove the outliers and apply it to the dataframe.

In [1]:
import pandas as pd
from scipy import stats
df=pd.read_csv(r"C:\Users\anasa\Desktop\Ana\IRONHACK\Actividades de clase\4.04 Checking for understanding\unit4.csv")

In [2]:
df.head()

,STATE,PVASTATE,DOB,MDMAUD,RECP3,GENDER,DOMAIN,INCOME,HOMEOWNR,HV1,...,VETERANS,NUMPROM,CARDPROM,CARDPM12,NUMPRM12,MAXADATE,RFA_2,NGIFTALL,TIMELAG,AVGGIFT
0,IL,,3712,XXXX,,F,T2,NaN,,479,...,,74,27,6,14,9702,L4E,31,4.0,7.741935
1,CA,,5202,XXXX,,M,S1,6.0,H,5468,...,,32,12,6,13,9702,L2G,3,18.0,15.666667
2,NC,,0,XXXX,,M,R2,3.0,U,497,...,,63,26,6,14,9702,L4E,27,12.0,7.481481
3,CA,,2801,XXXX,,F,R2,1.0,U,1000,...,,66,27,6,14,9702,L4E,16,9.0,6.812500
4,FL,,2001,XXXX,X,F,S2,3.0,H,576,...,,113,43,10,25,9702,L2F,37,14.0,6.864865

In [3]:
# Primero quitamos los nan
df_ej_1=df.copy()
df_ej_1=df_ej_1[df_ej_1.notna().all(axis=1)]
df_ej_1

,STATE,PVASTATE,DOB,MDMAUD,RECP3,GENDER,DOMAIN,INCOME,HOMEOWNR,HV1,...,VETERANS,NUMPROM,CARDPROM,CARDPM12,NUMPRM12,MAXADATE,RFA_2,NGIFTALL,TIMELAG,AVGGIFT
1,CA,,5202,XXXX,,M,S1,6.0,H,5468,...,,32,12,6,13,9702,L2G,3,18.0,15.666667
2,NC,,0,XXXX,,M,R2,3.0,U,497,...,,63,26,6,14,9702,L4E,27,12.0,7.481481
3,CA,,2801,XXXX,,F,R2,1.0,U,1000,...,,66,27,6,14,9702,L4E,16,9.0,6.812500
4,FL,,2001,XXXX,X,F,S2,3.0,H,576,...,,113,43,10,25,9702,L2F,37,14.0,6.864865
6,IN,,6001,XXXX,,F,T2,4.0,H,484,...,,63,26,4,9,9702,L1E,14,4.0,7.642857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90559,FL,,1201,XXXX,,F,S2,4.0,H,977,...,,65,27,6,13,9702,L1F,8,28.0,12.125000
90560,LA,,2801,XXXX,,F,C1,6.0,H,922,...,,30,11,4,10,9702,L1F,3,10.0,9.666667
90562,KY,,4506,XXXX,,F,R2,1.0,H,341,...,,38,17,6,12,9702,L4E,10,3.0,5.900000
90564,FL,,4803,XXXX,,F,S2,6.0,H,733,...,,59,23,5,12,9702,L4D,24,3.0,3.375000
90568,NC,,1801,C1CM,,F,C1,5.0,U,938,...,,139,32,6,35,9702,L1G,39,6.0,96.794872

In [8]:
# Para quitar los outliers:
# Calcular los percentiles para definir el rango
percentil_25 = df_ej_1['INCOME'].quantile(0.25)
percentil_75 = df_ej_1['INCOME'].quantile(0.75)

# Calcular el rango intercuartÃ­lico (IQR)
IQR = percentil_75 - percentil_25

# Definir los lÃ­mites inferior y superior 
limite_inferior = percentil_25 - 0.5 * IQR
limite_superior = percentil_75 + 0.5 * IQR

# Eliminar los valores atÃ­picos
df_sin_outliers = df_ej_1[(df_ej_1['INCOME'] >= limite_inferior) & (df_ej_1['INCOME'] <= limite_superior)]

print(df_sin_outliers)

      STATE PVASTATE   DOB MDMAUD RECP3 GENDER DOMAIN  INCOME HOMEOWNR   HV1  \
1        CA           5202   XXXX            M     S1     6.0        H  5468
2        NC              0   XXXX            M     R2     3.0        U   497
3        CA           2801   XXXX            F     R2     1.0        U  1000
4        FL           2001   XXXX     X      F     S2     3.0        H   576
6        IN           6001   XXXX            F     T2     4.0        H   484
...     ...      ...   ...    ...   ...    ...    ...     ...      ...   ...
90559    FL           1201   XXXX            F     S2     4.0        H   977
90560    LA           2801   XXXX            F     C1     6.0        H   922
90562    KY           4506   XXXX            F     R2     1.0        H   341
90564    FL           4803   XXXX            F     S2     6.0        H   733
90568    NC           1801   C1CM            F     C1     5.0        U   938

       ...  VETERANS  NUMPROM  CARDPROM  CARDPM12  NUMPRM12  MAXADATE  RFA_2  \
1      ...                 32        12         6        13      9702    L2G
2      ...                 63        26         6        14      9702    L4E
3      ...                 66        27         6        14      9702    L4E
4      ...                113        43        10        25      9702    L2F
6      ...                 63        26         4         9      9702    L1E
...    ...       ...      ...       ...       ...       ...       ...    ...
90559  ...                 65        27         6        13      9702    L1F
90560  ...                 30        11         4        10      9702    L1F
90562  ...                 38        17         6        12      9702    L4E
90564  ...                 59        23         5        12      9702    L4D
90568  ...                139        32         6        35      9702    L1G

       NGIFTALL TIMELAG    AVGGIFT
1             3    18.0  15.666667
2            27    12.0   7.481481
3            16     9.0   6.812500
4            37    14.0   6.864865
6            14     4.0   7.642857
...         ...     ...        ...
90559         8    28.0  12.125000
90560         3    10.0   9.666667
90562        10     3.0   5.900000
90564        24     3.0   3.375000
90568        39     6.0  96.794872

[57018 rows x 28 columns]

In [11]:
# Si metemos lo anterior en una funcion:
def remove_outliers_iqr(df_ej_1, INCOME):
    Q1 = df_ej_1[INCOME].quantile(0.25)
    Q3 = df_ej_1[INCOME].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 0.5 * IQR
    upper_bound = Q3 + 0.5 * IQR
    df_ej_1 = df_ej_1[(df_ej_1[INCOME] >= lower_bound) & (df_ej_1[INCOME] <= upper_bound)]
    return df_ej_1

In [16]:
df_sin_outliers=remove_outliers_iqr(df_ej_1, "INCOME")
print(df_sin_outliers)

      STATE PVASTATE   DOB MDMAUD RECP3 GENDER DOMAIN  INCOME HOMEOWNR   HV1  \
1        CA           5202   XXXX            M     S1     6.0        H  5468
2        NC              0   XXXX            M     R2     3.0        U   497
3        CA           2801   XXXX            F     R2     1.0        U  1000
4        FL           2001   XXXX     X      F     S2     3.0        H   576
6        IN           6001   XXXX            F     T2     4.0        H   484
...     ...      ...   ...    ...   ...    ...    ...     ...      ...   ...
90559    FL           1201   XXXX            F     S2     4.0        H   977
90560    LA           2801   XXXX            F     C1     6.0        H   922
90562    KY           4506   XXXX            F     R2     1.0        H   341
90564    FL           4803   XXXX            F     S2     6.0        H   733
90568    NC           1801   C1CM            F     C1     5.0        U   938

       ...  VETERANS  NUMPROM  CARDPROM  CARDPM12  NUMPRM12  MAXADATE  RFA_2  \
1      ...                 32        12         6        13      9702    L2G
2      ...                 63        26         6        14      9702    L4E
3      ...                 66        27         6        14      9702    L4E
4      ...                113        43        10        25      9702    L2F
6      ...                 63        26         4         9      9702    L1E
...    ...       ...      ...       ...       ...       ...       ...    ...
90559  ...                 65        27         6        13      9702    L1F
90560  ...                 30        11         4        10      9702    L1F
90562  ...                 38        17         6        12      9702    L4E
90564  ...                 59        23         5        12      9702    L4D
90568  ...                139        32         6        35      9702    L1G

       NGIFTALL TIMELAG    AVGGIFT
1             3    18.0  15.666667
2            27    12.0   7.481481
3            16     9.0   6.812500
4            37    14.0   6.864865
6            14     4.0   7.642857
...         ...     ...        ...
90559         8    28.0  12.125000
90560         3    10.0   9.666667
90562        10     3.0   5.900000
90564        24     3.0   3.375000
90568        39     6.0  96.794872

[57018 rows x 28 columns]

In [17]:
# 2. Create a copy of the dataframe for the data wrangling.
df_ej_2=df_ej_1.copy()

In [18]:
# 3. Normalize the continuous variables. You can use any one method you want.

In [34]:
# Seleccionar solo las columnas de tipo int y float
columnas_numericas = df.select_dtypes(include=['int', 'float'])

# Obtener los nombres de las columnas
nombres_columnas_numericas = columnas_numericas.columns.tolist()
print(nombres_columnas_numericas)

['DOB', 'INCOME', 'HV1', 'HV2', 'HV3', 'HV4', 'IC1', 'IC2', 'IC3', 'IC4', 'IC5', 'NUMPROM', 'CARDPROM', 'CARDPM12', 'NUMPRM12', 'MAXADATE', 'NGIFTALL', 'TIMELAG', 'AVGGIFT']

In [23]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [36]:
scaler = StandardScaler()
continuous_columns = ['DOB', 'INCOME', 'HV1', 'HV2', 'HV3', 'HV4', 'IC1', 'IC2', 'IC3', 'IC4', 'IC5', 'NUMPROM', 'CARDPROM', 'CARDPM12', 'NUMPRM12', 'MAXADATE', 'NGIFTALL', 'TIMELAG', 'AVGGIFT']  # Define continuous columns
df_ej_2[continuous_columns] = scaler.fit_transform(df_ej_2[continuous_columns])

In [41]:
var_categoricas=df_ej_2.select_dtypes(exclude=['int', 'float'])

In [55]:
var_categoricas.columns.tolist()

['STATE',
 'PVASTATE',
 'MDMAUD',
 'RECP3',
 'GENDER',
 'DOMAIN',
 'HOMEOWNR',
 'VETERANS',
 'RFA_2']

In [52]:
# 4. Encode the categorical variables:
from sklearn.preprocessing import OneHotEncoder

# Supongamos que tienes un DataFrame llamado df_ej_2 y una lista de variables categÃ³ricas llamada var_categoricas

# Seleccionar solo las columnas categÃ³ricas
df_categoricas = df_ej_2.select_dtypes(exclude=['int', 'float'])

# Crear el codificador OneHotEncoder
encoder = OneHotEncoder(drop='first')

# Aplicar OneHotEncoder a las variables categÃ³ricas
encoded_columns = pd.DataFrame(encoder.fit_transform(df_categoricas).toarray())

# Obtener los nombres de las columnas codificadas
column_names = encoder.get_feature_names_out(df_categoricas.columns)

# Asignar los nombres de las columnas al DataFrame resultante
encoded_columns.columns = column_names

# Mostrar las columnas codificadas
print(encoded_columns)

       STATE_AK  STATE_AL  STATE_AP  STATE_AR  STATE_AZ  STATE_CA  STATE_CO  \
0           0.0       0.0       0.0       0.0       0.0       1.0       0.0
1           0.0       0.0       0.0       0.0       0.0       0.0       0.0
2           0.0       0.0       0.0       0.0       0.0       1.0       0.0
3           0.0       0.0       0.0       0.0       0.0       0.0       0.0
4           0.0       0.0       0.0       0.0       0.0       0.0       0.0
...         ...       ...       ...       ...       ...       ...       ...
63145       0.0       0.0       0.0       0.0       0.0       0.0       0.0
63146       0.0       0.0       0.0       0.0       0.0       0.0       0.0
63147       0.0       0.0       0.0       0.0       0.0       0.0       0.0
63148       0.0       0.0       0.0       0.0       0.0       0.0       0.0
63149       0.0       0.0       0.0       0.0       0.0       0.0       0.0

       STATE_CT  STATE_DE  STATE_FL  ...  RFA_2_L2F  RFA_2_L2G  RFA_2_L3D  \
0           0.0       0.0       0.0  ...        0.0        1.0        0.0
1           0.0       0.0       0.0  ...        0.0        0.0        0.0
2           0.0       0.0       0.0  ...        0.0        0.0        0.0
3           0.0       0.0       1.0  ...        1.0        0.0        0.0
4           0.0       0.0       0.0  ...        0.0        0.0        0.0
...         ...       ...       ...  ...        ...        ...        ...
63145       0.0       0.0       1.0  ...        0.0        0.0        0.0
63146       0.0       0.0       0.0  ...        0.0        0.0        0.0
63147       0.0       0.0       0.0  ...        0.0        0.0        0.0
63148       0.0       0.0       1.0  ...        0.0        0.0        0.0
63149       0.0       0.0       0.0  ...        0.0        0.0        0.0

       RFA_2_L3E  RFA_2_L3F  RFA_2_L3G  RFA_2_L4D  RFA_2_L4E  RFA_2_L4F  \
0            0.0        0.0        0.0        0.0        0.0        0.0
1            0.0        0.0        0.0        0.0        1.0        0.0
2            0.0        0.0        0.0        0.0        1.0        0.0
3            0.0        0.0        0.0        0.0        0.0        0.0
4            0.0        0.0        0.0        0.0        0.0        0.0
...          ...        ...        ...        ...        ...        ...
63145        0.0        0.0        0.0        0.0        0.0        0.0
63146        0.0        0.0        0.0        0.0        0.0        0.0
63147        0.0        0.0        0.0        0.0        1.0        0.0
63148        0.0        0.0        0.0        1.0        0.0        0.0
63149        0.0        0.0        0.0        0.0        0.0        0.0

       RFA_2_L4G
0            0.0
1            0.0
2            0.0
3            0.0
4            0.0
...          ...
63145        0.0
63146        0.0
63147        0.0
63148        0.0
63149        0.0

[63150 rows x 116 columns]

In [56]:
# Otro metodo de codificacion es con maping: 
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
for column in var_categoricas.columns.tolist():
    var_categoricas[f'encoded_{column}'] = label_encoder.fit_transform(var_categoricas[column])

In [57]:
var_categoricas

,STATE,PVASTATE,MDMAUD,RECP3,GENDER,DOMAIN,HOMEOWNR,VETERANS,RFA_2,encoded_STATE,encoded_PVASTATE,encoded_MDMAUD,encoded_RECP3,encoded_GENDER,encoded_DOMAIN,encoded_HOMEOWNR,encoded_VETERANS,encoded_RFA_2
1,CA,,XXXX,,M,S1,H,,L2G,6,0,25,0,4,7,1,0,5
2,NC,,XXXX,,M,R2,U,,L4E,28,0,25,0,4,5,2,0,11
3,CA,,XXXX,,F,R2,U,,L4E,6,0,25,0,2,5,2,0,11
4,FL,,XXXX,X,F,S2,H,,L2F,10,0,25,1,2,8,1,0,4
6,IN,,XXXX,,F,T2,H,,L1E,16,0,25,0,2,11,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90559,FL,,XXXX,,F,S2,H,,L1F,10,0,25,0,2,8,1,0,1
90560,LA,,XXXX,,F,C1,H,,L1F,19,0,25,0,2,1,1,0,1
90562,KY,,XXXX,,F,R2,H,,L4E,18,0,25,0,2,5,1,0,11
90564,FL,,XXXX,,F,S2,H,,L4D,10,0,25,0,2,8,1,0,10
90568,NC,,C1CM,,F,C1,U,,L1G,28,0,0,0,2,1,2,0,2

In [58]:
# 5. The time variable can be useful. 
# Try to transform its data into a useful one. Hint: Day week and month as integers might be useful.

In [62]:
df.dtypes

STATE        object
PVASTATE     object
DOB           int64
MDMAUD       object
RECP3        object
GENDER       object
DOMAIN       object
INCOME      float64
HOMEOWNR     object
HV1           int64
HV2           int64
HV3           int64
HV4           int64
IC1           int64
IC2           int64
IC3           int64
IC4           int64
IC5           int64
VETERANS     object
NUMPROM       int64
CARDPROM      int64
CARDPM12      int64
NUMPRM12      int64
MAXADATE      int64
RFA_2        object
NGIFTALL      int64
TIMELAG     float64
AVGGIFT     float64
dtype: object

In [64]:
df_ej_2['MAXADATE'] = pd.to_datetime(df_ej_2['MAXADATE'])
df_ej_2['day_of_week'] = df_ej_2['MAXADATE'].dt.dayofweek
df_ej_2['month'] = df_ej_2['MAXADATE'].dt.month

In [66]:
df_ej_2["MAXADATE"].unique()

<DatetimeArray>
[          '1970-01-01 00:00:00', '1969-12-31 23:59:59.999999955',
 '1969-12-31 23:59:59.999999956']
Length: 3, dtype: datetime64[ns]

In [67]:
# 6. Since the model will only accept numerical data, check and make sure that every column is numerical, 
# if some are not, change it using encoding.

In [81]:
concatenated_df = pd.concat([var_categoricas, var_numericas], axis=1)

In [82]:
concatenated_df

,STATE,PVASTATE,MDMAUD,RECP3,GENDER,DOMAIN,HOMEOWNR,VETERANS,RFA_2,encoded_STATE,...,IC4,IC5,NUMPROM,CARDPROM,CARDPM12,NUMPRM12,MAXADATE,NGIFTALL,TIMELAG,AVGGIFT
1,CA,,XXXX,,M,S1,H,,L2G,6,...,1037,36175,32,12,6,13,9702,3,18.0,15.666667
2,NC,,XXXX,,M,R2,U,,L4E,28,...,340,11576,63,26,6,14,9702,27,12.0,7.481481
3,CA,,XXXX,,F,R2,U,,L4E,6,...,423,15130,66,27,6,14,9702,16,9.0,6.812500
4,FL,,XXXX,X,F,S2,H,,L2F,10,...,321,9836,113,43,10,25,9702,37,14.0,6.864865
6,IN,,XXXX,,F,T2,H,,L1E,16,...,311,10717,63,26,4,9,9702,14,4.0,7.642857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90559,FL,,XXXX,,F,S2,H,,L1F,10,...,568,20791,65,27,6,13,9702,8,28.0,12.125000
90560,LA,,XXXX,,F,C1,H,,L1F,19,...,485,24775,30,11,4,10,9702,3,10.0,9.666667
90562,KY,,XXXX,,F,R2,H,,L4E,18,...,236,7542,38,17,6,12,9702,10,3.0,5.900000
90564,FL,,XXXX,,F,S2,H,,L4D,10,...,334,11390,59,23,5,12,9702,24,3.0,3.375000
90568,NC,,C1CM,,F,C1,U,,L1G,28,...,519,16699,139,32,6,35,9702,39,6.0,96.794872

In [77]:
var_categoricas.shape

(63150, 18)

In [78]:
var_numericas.shape

(63150, 19)